In [2]:
import pandas as pd
import numpy as np
import json
from tqdm import tqdm

In [3]:
stoptimes = pd.read_csv('stop_times.txt')
stoptimes

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,stop_headsign,shape_dist_traveled
0,540757,6:19:00,6:19:00,704230369,1,NaN,NaN
1,540757,6:19:27,6:19:27,2013,2,NaN,0.3043
2,540757,6:19:57,6:19:57,2015,3,NaN,0.6456
3,540757,6:20:31,6:20:31,2017,4,NaN,1.0329
4,540757,6:21:08,6:21:08,2019,5,NaN,1.4522
...,...,...,...,...,...,...,...
183243,545918,6:47:02,6:47:02,3479,15,NaN,7.8711
183244,545918,6:48:08,6:48:08,3481,16,NaN,8.3112
183245,545918,6:49:22,6:49:22,3483,17,NaN,8.7999
183246,545918,6:50:51,6:50:51,704230977,18,NaN,9.3914
183247,545918,6:52:00,6:52:00,4847,19,NaN,9.8375

In [4]:
stops = pd.read_csv('stops.txt')
stops

,stop_id,stop_code,stop_name,stop_desc,stop_lat,stop_lon,zone_id,stop_url,location_type,parent_station
0,1066,1066,9th @ V Street (Area 4),9TH ST. SE & V AVE SE,35.034674,-106.544256,NaN,NaN,NaN,NaN
1,1067,1067,S Street @ 9th,S AVE. SW & 9TH ST. SW,35.036187,-106.545047,NaN,NaN,NaN,NaN
2,1068,1068,P Street @ 9th,P AVE. SW & 9TH ST. SW,35.042657,-106.544942,NaN,NaN,NaN,NaN
3,1069,1069,14th @ Hardin,14TH ST. SE & HARDiN BLVD SE,35.043797,-106.541414,NaN,NaN,NaN,NaN
4,1071,1071,N Ave @ Building 825,N AVE. SE & BLD 825,35.046250,-106.544615,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2374,704231182,6901,Rio Grande @ Villa Doro,0 RIO GRANDE BLVD NW & VILLA DORA WAY NW,35.117008,-106.675315,NaN,NaN,NaN,NaN
2375,704231183,4789,Rio Grande @ Candelaria,NaN,35.126246,-106.673741,NaN,NaN,NaN,NaN
2376,704231184,6906,Rio Grande @ Candelaria,NaN,35.125834,-106.673589,NaN,NaN,NaN,NaN
2377,704231185,6609,Headline @ Jefferson,NaN,35.170822,-106.590376,NaN,NaN,NaN,NaN
2378,704231186,6980,5th @ Gold,0 5th Street & Gold,35.084109,-106.652848,NaN,NaN,NaN,NaN

In [5]:
routes = pd.read_csv('routes.txt')
routes

,route_id,agency_id,route_short_name,route_long_name,route_desc,route_type,route_url,route_color,route_text_color
0,4178,1,1,Juan Tabo,NaN,3,NaN,E17F38,000000
1,4190,1,2,Eubank-Ventura,NaN,3,NaN,DC5D2E,000000
2,4199,1,5,Montgomery/Carlisle,NaN,3,NaN,FF4E21,000000
3,4207,1,7,Candelaria Commuter,NaN,3,NaN,FF7F54,000000
4,4211,1,8,Menaul,NaN,3,NaN,7B097B,FFFFFF
5,4179,1,10,North Fourth Street,NaN,3,NaN,C30000,FFFFFF
6,4180,1,11,Lomas,NaN,3,NaN,800080,FFFFFF
7,4181,1,12,Constitution Commuter,NaN,3,NaN,B7FF00,000000
8,4187,1,16,University/Gibson/Broadway,NaN,3,NaN,C01D8C,FFFFFF
9,4195,1,31,Wyoming,NaN,3,NaN,852300,FFFFFF
10,4196,1,34,San Pedro Commuter,NaN,3,NaN,FF9E00,000000
11,4197,1,36,12th Street/Rio Grande,NaN,3,NaN,800000,FFFFFF
12,4198,1,37,Rio Grande/12th Street,NaN,3,NaN,800000,FFFFFF
13,4200,1,50,Airport/Downtown,NaN,3,NaN,71220F,FFFFFF
14,4201,1,51,Atrisco/Rio Bravo,NaN,3,NaN,572820,FFFFFF
15,4202,1,53,Isleta,NaN,3,NaN,2390CF,000000
16,4203,1,54,Bridge/Westgate,NaN,3,NaN,006097,FFFFFF
17,4206,1,66,Central Avenue,NaN,3,NaN,00DEC8,000000
18,4212,1,92,Taylor Ranch Express,NaN,3,NaN,D43815,FFFFFF
19,4215,1,96,Crosstown Commuter,NaN,3,NaN,F3F400,000000
20,4216,1,97,Zuni Express,NaN,3,NaN,6600FF,FFFFFF
21,4183,1,140,San Mateo / CNM Work Force,NaN,3,NaN,420080,FFFFFF
22,4184,1,141,San Mateo,NaN,3,NaN,7E0080,FFFFFF
23,4185,1,155,Coors,NaN,3,NaN,FF8900,000000
24,4186,1,157,Cottonwood/Montano/UTC,NaN,3,NaN,008047,FFFFFF
25,4189,1,198,98th / Dennis Chavez,NaN,3,NaN,00FF00,FFFFFF
26,4191,1,217,Downtown-KAFB Ltd.,NaN,3,NaN,FDDC00,000000
27,4192,1,222,Rio Bravo/ Rail Runner/ KAFB,NaN,3,NaN,804A80,FFFFFF
28,4193,1,250,Airport/Downtown Express,NaN,3,NaN,F34C00,000000
29,4194,1,251,ABQ-Rio Rancho Rail Runner Shuttle,NaN,3,NaN,006849,FFFFFF
30,4208,1,766,ART Red Line,NaN,3,NaN,EC0000,FFFFFF
31,4209,1,777,ART Green Line,NaN,3,NaN,00FF00,000000
32,4210,1,790,ARTx Blue Line,NaN,3,NaN,0000FF,FFFFFF

In [6]:
trips = pd.read_csv('trips.txt')
trips

,route_id,service_id,trip_id,trip_headsign,direction_id,block_id,shape_id
0,4178,1,540757,Central & Tramway,0,49096,15085
1,4178,1,540758,Central & Tramway,0,49097,15085
2,4178,1,540759,Central & Tramway,0,49098,15085
3,4178,1,540760,Central & Tramway,0,49096,15085
4,4178,1,540761,Central & Tramway,0,49097,15085
...,...,...,...,...,...,...,...
3908,4216,19,545910,Downtown,1,49495,15231
3909,4216,19,545909,Downtown,1,49495,15231
3910,4216,19,545908,Downtown,1,49495,15231
3911,4216,19,545907,Downtown,1,49495,15231
3912,4216,19,545906,Downtown,1,49495,15231

In [7]:
len(set(trips['trip_id']))

3913

In [8]:
stops

,stop_id,stop_code,stop_name,stop_desc,stop_lat,stop_lon,zone_id,stop_url,location_type,parent_station
0,1066,1066,9th @ V Street (Area 4),9TH ST. SE & V AVE SE,35.034674,-106.544256,NaN,NaN,NaN,NaN
1,1067,1067,S Street @ 9th,S AVE. SW & 9TH ST. SW,35.036187,-106.545047,NaN,NaN,NaN,NaN
2,1068,1068,P Street @ 9th,P AVE. SW & 9TH ST. SW,35.042657,-106.544942,NaN,NaN,NaN,NaN
3,1069,1069,14th @ Hardin,14TH ST. SE & HARDiN BLVD SE,35.043797,-106.541414,NaN,NaN,NaN,NaN
4,1071,1071,N Ave @ Building 825,N AVE. SE & BLD 825,35.046250,-106.544615,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2374,704231182,6901,Rio Grande @ Villa Doro,0 RIO GRANDE BLVD NW & VILLA DORA WAY NW,35.117008,-106.675315,NaN,NaN,NaN,NaN
2375,704231183,4789,Rio Grande @ Candelaria,NaN,35.126246,-106.673741,NaN,NaN,NaN,NaN
2376,704231184,6906,Rio Grande @ Candelaria,NaN,35.125834,-106.673589,NaN,NaN,NaN,NaN
2377,704231185,6609,Headline @ Jefferson,NaN,35.170822,-106.590376,NaN,NaN,NaN,NaN
2378,704231186,6980,5th @ Gold,0 5th Street & Gold,35.084109,-106.652848,NaN,NaN,NaN,NaN

In [9]:
stoptimes

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,stop_headsign,shape_dist_traveled
0,540757,6:19:00,6:19:00,704230369,1,NaN,NaN
1,540757,6:19:27,6:19:27,2013,2,NaN,0.3043
2,540757,6:19:57,6:19:57,2015,3,NaN,0.6456
3,540757,6:20:31,6:20:31,2017,4,NaN,1.0329
4,540757,6:21:08,6:21:08,2019,5,NaN,1.4522
...,...,...,...,...,...,...,...
183243,545918,6:47:02,6:47:02,3479,15,NaN,7.8711
183244,545918,6:48:08,6:48:08,3481,16,NaN,8.3112
183245,545918,6:49:22,6:49:22,3483,17,NaN,8.7999
183246,545918,6:50:51,6:50:51,704230977,18,NaN,9.3914
183247,545918,6:52:00,6:52:00,4847,19,NaN,9.8375

In [12]:
# list of stops and locations
routeid_to_route = {row['route_id']: row['route_short_name'] for _,row in tqdm(routes.iterrows())}
trip_to_route = {row['trip_id']: routeid_to_route[row['route_id']] for _,row in tqdm(trips.iterrows()) if row['service_id'] == 1}
visited_stops = set([row['stop_id'] for _,row in tqdm(stoptimes.iterrows()) if row['trip_id'] in trip_to_route])
bus_stop_names = {row['stop_id']: row['stop_name'] for _,row in tqdm(stops.iterrows()) if row['stop_id'] in visited_stops}


bus_stop_locations = {row['stop_id']: {'lat': row['stop_lat'], 'lng': row['stop_lon']} for _,row in tqdm(stops.iterrows() ) if row['stop_id'] in visited_stops}


stop_lookup = {} # stopid -> routes
for _,row in tqdm(stoptimes.iterrows()):
    sid = row['stop_id']
    if row['trip_id'] not in trip_to_route or sid not in visited_stops:
        continue
    route = trip_to_route[row['trip_id']]
    if sid not in stop_lookup:
        stop_lookup[sid] = set()
    stop_lookup[sid].add(route)
for sid in stop_lookup:
    stop_lookup[sid] = list(stop_lookup[sid])

stopschedule = {} # route -> trip -> stop -> time
for _,row in tqdm(stoptimes.iterrows()):
    tid = row['trip_id']
    if tid not in trip_to_route:
        continue
    route = trip_to_route[tid]
    stop = row['stop_id']
    if stop not in visited_stops:
        continue
    time = row['departure_time']
    if route not in stopschedule:
        stopschedule[route] = {}
    if tid not in stopschedule[route]:
        stopschedule[route][tid] = {}
    if stop not in stopschedule[route][tid]:
        stopschedule[route][tid][stop] = time

        
stoptimes_ = {}
for _,row in tqdm(stoptimes.iterrows()):
    tid = row['trip_id']
    stopid = row['stop_id']
    if tid not in stoptimes_:
        stoptimes_[tid] = {}
    d = row['shape_dist_traveled']
    if np.isnan(d):
        d = 0
    stoptimes_[tid][stopid] = d

33it [00:00, 7832.72it/s]

0it [00:00, ?it/s]
1280it [00:00, 12754.07it/s]
3913it [00:00, 14108.15it/s]

0it [00:00, ?it/s]
792it [00:00, 7815.22it/s]
2240it [00:00, 11711.40it/s]
3727it [00:00, 12916.34it/s]
5148it [00:00, 13400.93it/s]
6488it [00:00, 13393.32it/s]
7828it [00:00, 13216.00it/s]
9150it [00:00, 13048.97it/s]
10491it [00:00, 13107.59it/s]
11855it [00:00, 13138.15it/s]
13286it [00:01, 13493.21it/s]
14739it [00:01, 13738.38it/s]
16231it [00:01, 13926.30it/s]
17695it [00:01, 13975.54it/s]
19093it [00:01, 13976.86it/s]
20503it [00:01, 13971.93it/s]
21938it [00:01, 13962.26it/s]
23349it [00:01, 14005.47it/s]
24786it [00:01, 14057.36it/s]
26207it [00:01, 14099.92it/s]
27618it [00:02, 13777.04it/s]
28998it [00:02, 12597.94it/s]
30277it [00:02, 12507.07it/s]
31600it [00:02, 12710.39it/s]
33058it [00:02, 13096.26it/s]
34441it [00:02, 13307.75it/s]
35804it [00:02, 13391.47it/s]
37276it [00:02, 13621.92it/s]
38716it [00:02, 13690.47it/s]
40110it [00:02, 13763.54it/s]
41576it [00:03, 14027.37it/s]
43064it [00:03, 14219.85it/s]
44531it [00:03, 14184.88it/s]
45952it [00:03, 14029.17it/s]
47396it [00:03, 14148.69it/s]
48905it [00:03, 14259.80it/s]
50357it [00:03, 14334.66it/s]
51834it [00:03, 14294.37it/s]
53331it [00:03, 14324.82it/s]
54788it [00:04, 14396.71it/s]
56300it [00:04, 14441.50it/s]
57755it [00:04, 14471.73it/s]
59227it [00:04, 14374.99it/s]
60665it [00:04, 14360.22it/s]
62164it [00:04, 14525.52it/s]
63748it [00:04, 14741.54it/s]
65222it [00:04, 14724.76it/s]
66695it [00:04, 13747.82it/s]
68082it [00:04, 12767.59it/s]
69458it [00:05, 12897.84it/s]
70986it [00:05, 13526.46it/s]
72541it [00:05, 13943.24it/s]
73947it [00:05, 13942.85it/s]
75416it [00:05, 14157.46it/s]
76994it [00:05, 14594.74it/s]
78551it [00:05, 14740.01it/s]
80045it [00:05, 14796.96it/s]
81642it [00:05, 14968.70it/s]
83183it [00:05, 15096.37it/s]
84695it [00:06, 14699.66it/s]
86168it [00:06, 13597.91it/s]
87545it [00:06, 13348.87it/s]
88995it [00:06, 13519.72it/s]
90573it [00:06, 14146.45it/s]
92205it [00:06, 14604.30it/s]
93673it [00:06, 14625.51it/s]
95141it [00:06, 13683.73it/s]
96524it [00:06, 12858.60it/s]
97918it [00:07, 13152.48it/s]
99384it [00:07, 13575.19it/s]
100932it [00:07, 13962.44it/s]
102339it [00:07, 13375.59it/s]
103713it [00:07, 13471.96it/s]
105165it [00:07, 13772.84it/s]
106639it [00:07, 14044.43it/s]
108136it [00:07, 14304.23it/s]
109693it [00:07, 14507.05it/s]
111270it [00:08, 14689.77it/s]
112811it [00:08, 14872.42it/s]
114414it [00:08, 15038.27it/s]
115919it [00:08, 15041.71it/s]
117424it [00:08, 14653.51it/s]
118892it [00:08, 14328.42it/s]
120328it [00:08, 13846.87it/s]
121717it [00:08, 13549.95it/s]
123124it [00:08, 13598.80it/s]
124551it [00:08, 13791.94it/s]
125933it [00:09, 13641.10it/s]
127299it [00:09, 13645.16it/s]
128726it [00:09, 13668.35it/s]
130245it [00:09, 13950.79it/s]
131754it [00:09, 14120.48it/s]
133167it [00:09, 14121.69it/s]
134658it [00:09, 14354.00it/s]
136188it [00:09, 14524.24it/s]
137641it [00:09, 14524.03it/s]
139190it [00:09, 14637.22it/s]
140654it [00:10, 14637.88it/s]
142179it [00:10, 14797.40it/s]
143661it [00:10, 14760.20it/s]
145138it [00:10, 14252.29it/s]
146567it [00:10, 14262.78it/s]
148032it [00:10, 14376.39it/s]
149597it [00:10, 14591.95it/s]
151167it [00:10, 14901.64it/s]
152659it [00:10, 14718.81it/s]
154133it [00:11, 14387.41it/s]
155574it [00:11, 13453.41it/s]
156932it [00:11, 13483.02it/s]
158289it [00:11, 13354.94it/s]
159631it [00:11, 13221.68it/s]
161104it [00:11, 13502.81it/s]
162542it [00:11, 13755.70it/s]
164057it [00:11, 14001.23it/s]
165460it [00:11, 14008.26it/s]
166877it [00:11, 13893.49it/s]
168364it [00:12, 14178.82it/s]
169784it [00:12, 13544.73it/s]
171255it [00:12, 13879.27it/s]
172739it [00:12, 14047.94it/s]
174343it [00:12, 14461.38it/s]
175969it [00:12, 14813.55it/s]
177453it [00:12, 14596.11it/s]
178915it [00:12, 14434.96it/s]
180360it [00:12, 13860.72it/s]
181751it [00:13, 13718.09it/s]
183248it [00:13, 13949.35it/s]

0it [00:00, ?it/s]
2379it [00:00, 12793.96it/s]

0it [00:00, ?it/s]
2379it [00:00, 13517.33it/s]

0it [00:00, ?it/s]
670it [00:00, 6699.99it/s]
2067it [00:00, 10928.16it/s]
3495it [00:00, 12234.12it/s]
4916it [00:00, 13002.95it/s]
6330it [00:00, 13391.66it/s]
7772it [00:00, 13557.86it/s]
9163it [00:00, 13497.30it/s]
10519it [00:00, 13516.90it/s]
11871it [00:00, 13500.25it/s]
13221it [00:01, 13500.13it/s]
14608it [00:01, 13450.06it/s]
15955it [00:01, 13455.20it/s]
17314it [00:01, 13495.56it/s]
18691it [00:01, 13522.58it/s]
20112it [00:01, 13567.48it/s]
21469it [00:01, 13566.96it/s]
22894it [00:01, 13607.95it/s]
24255it [00:01, 13449.23it/s]
25673it [00:01, 13505.46it/s]
27060it [00:02, 13612.55it/s]
28447it [00:02, 13529.52it/s]
29824it [00:02, 13600.03it/s]
31298it [00:02, 13774.43it/s]
32726it [00:02, 13842.78it/s]
34124it [00:02, 13883.19it/s]
35513it [00:02, 13884.61it/s]
36902it [00:02, 13563.22it/s]
38260it [00:02, 13564.09it/s]
39655it [00:02, 13518.91it/s]
41040it [00:03, 13458.03it/s]
42430it [00:03, 13430.39it/s]
43774it [00:03, 13419.22it/s]
45117it [00:03, 13422.40it/s]
46460it [00:03, 13260.36it/s]
47787it [00:03, 13079.30it/s]
0it [01:06, ?it/s]082.13it/s]

50405it [00:03, 11952.74it/s]
51662it [00:03, 12061.99it/s]
52930it [00:04, 12235.74it/s]
54280it [00:04, 12456.44it/s]
55631it [00:04, 12616.65it/s]
56945it [00:04, 12766.43it/s]
58244it [00:04, 12726.20it/s]
59528it [00:04, 12749.57it/s]
61007it [00:04, 13347.22it/s]
62520it [00:04, 13829.17it/s]
63976it [00:04, 14046.03it/s]
65512it [00:04, 14269.21it/s]
66980it [00:05, 14390.76it/s]
68427it [00:05, 14412.96it/s]
69869it [00:05, 14414.05it/s]
71320it [00:05, 14437.60it/s]
72801it [00:05, 14377.72it/s]
74282it [00:05, 14337.57it/s]
75717it [00:05, 13849.08it/s]
77211it [00:05, 14004.12it/s]
78626it [00:05, 14044.07it/s]
80070it [00:05, 14158.50it/s]
81632it [00:06, 14421.15it/s]
83097it [00:06, 14486.66it/s]
84611it [00:06, 14510.16it/s]
86085it [00:06, 14576.09it/s]
87544it [00:06, 14409.49it/s]
88986it [00:06, 14245.12it/s]
90412it [00:06, 14211.81it/s]
91841it [00:06, 14234.23it/s]
93336it [00:06, 14444.07it/s]
94781it [00:06, 14278.23it/s]
96210it [00:07, 14281.58it/s]
97679it [00:07, 14235.98it/s]
99103it [00:07, 13908.48it/s]
100596it [00:07, 14147.82it/s]
102093it [00:07, 14222.36it/s]
103521it [00:07, 14075.94it/s]
104930it [00:07, 14005.64it/s]
106409it [00:07, 14229.77it/s]
107881it [00:07, 14274.94it/s]
109310it [00:07, 14278.47it/s]
110740it [00:08, 14284.46it/s]
112169it [00:08, 14285.42it/s]
113598it [00:08, 13955.99it/s]
114996it [00:08, 13960.75it/s]
116433it [00:08, 13917.16it/s]
117858it [00:08, 13854.22it/s]
119245it [00:08, 13856.67it/s]
120632it [00:08, 13860.56it/s]
122055it [00:08, 13808.52it/s]
123512it [00:09, 14032.14it/s]
125013it [00:09, 14322.00it/s]
126459it [00:09, 14195.44it/s]
127880it [00:09, 14198.33it/s]
129366it [00:09, 14232.37it/s]
130825it [00:09, 14172.88it/s]
132325it [00:09, 14252.74it/s]
133892it [00:09, 14501.13it/s]
135343it [00:09, 14377.66it/s]
136781it [00:09, 14212.03it/s]
138203it [00:10, 14051.33it/s]
139615it [00:10, 14070.15it/s]
141066it [00:10, 14198.54it/s]
142576it [00:10, 14296.54it/s]
144012it [00:10, 14315.24it/s]
145517it [00:10, 14363.62it/s]
146982it [00:10, 14279.29it/s]
148411it [00:10, 14118.14it/s]
149823it [00:10, 13953.52it/s]
151268it [00:10, 13950.45it/s]
152691it [00:11, 14032.29it/s]
154204it [00:11, 14355.54it/s]
155747it [00:11, 14528.39it/s]
157219it [00:11, 14583.26it/s]

158744it [00:11, 14609.32it/s]
160206it [00:11, 14594.80it/s]
161666it [00:11, 14422.65it/s]
163109it [00:11, 14255.17it/s]
164550it [00:11, 14300.22it/s]
166017it [00:11, 14243.03it/s]
167442it [00:12, 14243.60it/s]
168867it [00:12, 14228.87it/s]
170306it [00:12, 14109.54it/s]
171718it [00:12, 14053.17it/s]
173168it [00:12, 14019.62it/s]
174571it [00:12, 14010.13it/s]
175973it [00:12, 13980.45it/s]
177373it [00:12, 13984.95it/s]
178808it [00:12, 14093.28it/s]
180262it [00:13, 14060.46it/s]
183248it [00:13, 13873.62it/s]
183248it [00:13, 13915.50it/s]

In [14]:
with open('stoplocations.json', 'w') as file:
    json.dump(bus_stop_locations, file)
with open('stoplookup.json', 'w') as file:
    json.dump(stop_lookup, file)
with open('stopnames.json', 'w') as file:
    json.dump(bus_stop_names, file)
with open('stopschedule.json', 'w') as file:
    json.dump(stopschedule, file)
with open('stoptimes.json', 'w') as file:
    json.dump(stoptimes_, file)